@font-face{
    font-family:"PT Sans";
    font-style:normal;
    font-weight:400;
    src:url("fonts/ptsans-400.woff2");
    font-display: swap;
}
@font-face{
    font-family:"PT Sans";
    font-style:normal;
    font-weight:700;
    src:url("fonts/ptsans-700.woff2");
    font-display:swap;
}


body{
   font-family:"PT Sans",Arial;
   font-size:18px;
   line-height:21px;
   background: white;
   color: black;
   margin:0 auto;
   
}

/* фон */
.page-header{
    background:white;
    color:#000000;
    margin:0 auto;
    
}

/* ссылки */
.page-header a{
    color:black;
    font-size:20px;
    line-height:26px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 34px;
    
    
   
}
.page-list{
    list-style-type:none;
}
.list-item{
    display:block;
    margin-top:auto;
    margin-bottom:auto;
}



.navigation-user{
    list-style-type:none;  
}

.navigation{
   display: flex;
   width:1200px;
   margin-left: auto;
   margin-right: auto;
   justify-content: space-between;
   
}


/* флекс контейнер */
.navigation-user{
    display:flex;
}

.page-list{
    display:flex;
    padding:0;
    margin:0;
}
.logo{
    margin:0;
    padding:0;
    padding-left: 70px;
    padding-right: 47px;
 
 }

 .want-here{
    background: #756257;
    color:#ffffff;
    width:160px;
    height:37px;
    font-size: 16px;
    line-height:20px;
    font-weight:700;
    text-transform:uppercase;
    border-radius:4px;
    margin-right: 70px;
    
}




/* фон */
.gorgeous-sedona{
    background: url("images/index-background.jpg") no-repeat;
    width: 1200px;
    height:485px;
    background-color:black no-repeat;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    margin-top:0;
}
/*  */
.welcom-gorgeous{
    margin:0;
    padding-top:51px;
}



/* текст */
.title{
  font-size:30px;
  line-height:36px;
  font-weight:700;
  text-transform:uppercase;
  text-align:center;
  margin:0;
  padding-top: 63px;
  padding-bottom: 31px;

}
/* текст */
.cool-sedona{
    font-size:22px;
    line-height:36px;
    font-weight: 400;
    text-align:center;
    margin:0;
    padding-bottom:80px;
    
}
/* блок  */
.real-town-number{
    border: solid 1px #83B3D3;
    background: #83B3D3;
    width:400px;
    height: 384px;
    color:#FFFFFF;
    margin:0;
}
/* содержимое */
.real{
    font-size:24px;
    line-height:28px;
    font-weight:700;
    text-transform: uppercase;
    margin:0;
    padding-top: 97px;
    text-align:center;
}

.number-one{
    font-size:18px;
    line-height:21px;
    text-align:center;
    margin:0;
    padding-top: 30px;
}


.sedona-for-life{
    font-size:18px;
    line-height:21px;
    text-align:center;
    margin:0px;
    padding-top:30px;
    padding-bottom:87px;
}
/* фото */
.real-town-image{
    margin:0;
}
/* флекс контейнер */
.real-town{
    display:flex;
    justify-content:center;

}
  
/* блок */
.adventure-item{
    border: solid 1px#83B3D31F;
    background-color:#83B3D31F;
    width:400px;
    height:384px;
    text-align: center;
    list-style-type:none;
}
/* блок */
.adventure-item-white{
    border: solid 1px #FFFFFF;
    background-color: #FFFFFF;
    width:400px;
    height:384px;
    text-align: center;
    list-style-type:none;
} 
/* содержимое */
.adventure-item-white h2{
  text-transform:uppercase;
} 

.adventure-item p{
    font-size:18px; 
    line-height:21px;
    margin:0;
    padding-top:20px;
}
.adventure-item h2{
    font-size:24px;
    line-height:28px;
    text-transform:uppercase;
    margin:0;
    padding-top:23px;
}
.home{
    margin:0;
    padding-top:89px;
}
.eat{
    margin:0;
    padding-top:91px;
}
.present{
    margin:0;
    padding-top:85px;
} 
.adventure-list{
    margin:0;
    padding:0;
}

/* флекс контейнер */
.adventure-list{
    display:flex;
    justify-content: center;
}

/* блок */
.bridge-diablo-number{
    border:solid 1px;
    width:400px;
    height:384px;
    text-align:center;
    color: #FFFFFF;
    background-color: #83B3D3;
}


.bridge-diablo-image{
    margin: 0;
}

.bridge{
    font-size: 24px;
    line-height: 28px;
    font-weight:700;
    text-transform:uppercase;
    margin:0;
    padding-top:98px;
}

.number-two{
    font-size:18px;
    line-height:21px;
    text-align:center;
    margin:0;
    padding-top: 29px;
}
/* флекс контейнер */
.bridge-diablo{
    display: flex;
    margin-top:0;
    justify-content: center;
}
 
/* блок */
.advantages-item{
    border:solid 1px  #83B3D31F ;
    background-color: #83B3D31F;
    width:400px;
    height:384px;
    text-align:center;
    color: #000000;
    list-style-type: none;
}
/* блок */
.advantages-item-four{
    border:solid 1px  #83B3D31F ;
    background-color: #83B3D333;
    width:400px;
    height:384px;
    text-align:center;
    color: #000000;
    list-style-type: none;
} 

/* содержимое */

.uppercase{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform:uppercase;
    margin:0;
    padding-top:98px;
}

.number{
margin:0;
padding-top:29px;
}
.description{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin:0;
    padding-top:30px;
}

.advantages-list{
    margin:0;
    padding:0;
}
/* флекс контейнер */
.advantages-list{
    display: flex;
    justify-content: center;
}

/* блок поиска гостиницы */
.interest-hostel{
    border:solid 1px #FFFFFF;
    background: #FFFFFF;
    color:#000000;
    width:1200px;
    height:417px;
    text-align: center;
    margin-top: 0;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;

}
/* соддержимое */
.interest{
    font-size:30px;
    line-height:36px;
    font-weight:700;
    text-transform:uppercase;
    margin:0;
    padding-top:91px;
}
.best-hostel{
   font-size:22px;
   line-height:26px;
   font-weight:400;
   margin:0;
   padding-top:29px;
}
/* кнопка */
.search-hostel{
    width: 575px;
    height:60px;
    border-radius: 10px;
    background: #756257;
    color:#ffffff;
    margin-top:56px;
    padding:0;
}
/* содержимое */
.search-hostel-sedona{
    font-size:20px;
    line-height:26px;
    font-weight:700;
    text-transform:uppercase;
}
  
/* footer */
.background{
    background: url("images/footer/background-footer.jpg")no-repeat ;
    width: 1200px;
    height:411px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#ffffff;
}
.mailing{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top:94px;
    margin:0;
   
}

.true-info{
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin:0;
    padding-top:29px;
    padding-bottom:46px;
    
}

.mail-login{
    text-align: center;
    margin:0;
    padding:0;
    margin-top: 73px;
}

/* каталог */



/* ф0н */
.inner-header{
   
    background:url("images/catalog/catalog.jpg") no-repeat;
    width:1200px;
    height: 408px;
    color: white;
    background-color: #000000 no-repeat;
   
   
}

.inner-header{
    display:inline-block;
    width:1200px;
    padding-left: auto;
    padding-right: auto;
   
    
}
.main-inner{
    
}

/* заголовок */
.inner-header-title{
   font-size: 60px;
   line-height: 77px;
   font-weight: 700px;
   color: #FFFFFF;
   padding-top:35px;
   padding-left:71px;
   margin-bottom:0;
}

/* хлебные крошки */

.breadcrumbs-item{
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#ffffff;
    text-decoration:none;
    padding-left: 5px;

    
}
.breadcrumbs-link{
    text-decoration:none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color:#ffffff;
   
}
.breadcrumbs{
    display:block;
    padding-left:20px;
    margin-top:5px;
    margin:0 auto;
    margin-bottom: 45px;
}

.filter-parameter{
    display:flex;
    margin:0;
    padding:0;
    padding-left:71px;
    
}

.filter-parameter-title{
    font-size:20px;
    line-height:26px;
    font-weight:700;
    color:#ffffff;
}
.filter-parameter-choice{
    border:0px;
}


.filter-list-item{
    list-style-type:none;
    margin-right: 67px;
}

.button-header{
   margin-left:252px; 
}
.hostel-choice-numder{
  font-size:30px;
  line-height:38px;
  font-weight:700;
  text-transform:uppercase;
  color:#000000;
  margin:0;
  margin-left: 71px;
 
  margin-top: 50px;
}
.hostel-choice{
  display:flex;
  width:1200px;
  margin-right:auto;
  margin-left:auto;
}
.hostel-choice-select{
    font-size:18px;
    line-height: 23;
    font-weight: 400;
    color: #333333;
    border:solid 2px #E5E5E5;
    margin-top:44px;
    padding-top:12px;
    padding-bottom:13px;
    padding-right:127px;
    padding-left:19px;
}


.my-hostel-link{
    list-style-type:none;
    margin:0 auto;
    padding:0;
    
}

.hostel-link{
    text-decoration:none;
    margin:0;
    padding:0;
}
.about-hostel-card{
    text-decoration:none; 
}

.hostel-title{
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color:#000000;
    margin:0;
    padding:0;
    padding-left:20px;
    padding-top:16px;

}
.my-hostel-item{
    border:solid 1px #ffffff ;
    width:340px;
    height:438px;
    
    background-color:#ffffff;
    color:#000000;

}

.product-card{
    margin:20px;
    margin-bottom:0px;
}

.cost{
    border:solid 1px #ffffff;
    width:133px;
    height:23px;
    background-color:#ffffff;
    color:#000000;
    font-size:18px;
    line-height: 23px;
    font-weight:400;
}

.cost-in{
    border:solid 1px #ffffff ;
    width:143px;
    height:23px;
    background-color:#ffffff;
    color:#000000;
    font-size:18px;
    line-height: 23px;
    font-weight:400;
   
    
}  

.hostel-cost{
    display:flex;
    column-gap:25px;
    margin-left:20px;
    margin-right:19px;
}

.hostel-card-button{
    width:140px;
    height:37px;
    border-radius:4px;
    border-color:#83B3D3 ;
    background: #83B3D3;
    
    color:#ffffff;
    font-size:16px;
    line-height: 20px;
    font-weight: 700px;
    text-transform:uppercase;
    
}
.green{
    width:140px;
    height:37px;
    border-radius:4px;
    border-color: #7DB54F;
    background:#7DB54F ;
    
    color:#ffffff;
    font-size:16px;
    line-height: 20px;
    font-weight: 700px;
    text-transform:uppercase;
   

}

.about-hostel-card-link{
    width:133px;
    height:37px;
    border-radius:4px;
    background: #756257;
    border-color:#756257;
    margin-left: 20px;
    margin-right: 25px;
   
    
    
    

}
.about-hostel-card{
    color:#ffffff;
    font-size:16px;
    line-height:20px;
    font-weight:700;
    text-transform:uppercase;
    text-align:center;
   
}
.hostel-rating{
  border:solid 1px #F2F2F2;
  border-radius: 4px;
  width:160px;
  height:37px;

 
  font-size:18px;
  line-height: 20px;
  font-weight: 400;
  text-transform:uppercase;
  
  
  text-align: center;
  margin-top: 16px;
  padding-top: 9px;
  
  
}
.hostel-stars{
    margin-top:26px;
}

.rating{
    display:flex;
    width:300px;
    justify-content: space-between;
    margin-left: 20px;
}

.my-hostel-link{
    display:flex;
    flex-wrap:wrap;
    width:1200px;
    
}

.my-hostel-1{
    margin-left:72px;
    margin-top: 56px;
}
.my-hostel-2{
    margin-left:18px;
    margin-right:18px;
    margin-top:53px;
}
.my-hostel-3{
    margin-top:53px;
}
.my-hostel-4{
    margin:10px 72px;
}

/* загрузить ещё */

.loading-more{
  
    width:617px;
    height:60px; 
    background: #83B3D3;
    border-color:#83B3D3;
    border-radius:4px;
    color:#ffffff;
    margin:0;
    padding:0;
    margin:30px;
}

.border{
    border-top: 1px solid #E5E5E5;
    width:1055px;
    margin-top:54px;
    border-bottom: 1px solid #E5E5E5;
    width:1055px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
    
}
.loading{
    text-decoration: none;
    color:#ffffff;
    font-size:20px;
    line-height:26px;
    font-weight:700;
    text-align: centter;
    text-transform:uppercase;
}

/* пагинация */

/* список */
.pagination-list{
display:flex;
list-style-type:none;
column-gap: 7px;
margin:0px;
padding:0px;
}
/* ссылки списка */
.pagination-link{
    
    text-decoration:none;
    color:#ffffff;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

/* пункты списка */
.pagination-item{
    
    border:1px solid  #83B3D3;
    border-radius: 4px;
    background-color:#83B3D3 ;
    color:#ffffff;
    width:55px;
    height:55px;
    
    
}

.title-choice{
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color:#333333;
    

}

.hostel-title-choice{
    width:160px;
    height:48px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color:#333333;
    margin-left: 51px;
    padding-left: 17px;
    padding-top: 13px;
    padding-bottom: 12px;
    
    

}

.page-choice{
    display:flex;
    width:1055px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}



